.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vertical-line {
    width: 2px;
    /* Adjust the width as needed */
  
    height: 100%;
    /* Adjust the height as needed */
  
    background-color: #000;
    /* Change color if desired */
  
    margin: 0 auto;
    /* Center the line horizontally */
  
    transform: rotate(180deg);
    /* Rotate the line to make it vertical */
  
}

.left {
  display: flex;
  place-items: center;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.right {
  display: flex;
  place-items: center;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}


.button-31 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  height: auto;
}

.button-31:hover {
  background-color: #374151;
}

.button-431focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-31 {
    padding: .75rem 1.5rem;
  }
}


input{
  height: 44px;
  border-radius: 5%;
  font-size: 24px;
}

.checkbox{
  height: 20px;
}


#dropdown-content{
  font-size: 22px;
}
#dropdown-item{
  height: 100px;
}
